GemsAsc/Connected Services/WcfUserService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/UserService/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/UserService/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/UserService/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UserService.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudents" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudentsByDept_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsByDept" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudentsByDept_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsByDeptResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFacilities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFacilities" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFacilities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFacilitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFacultiesByDept_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFacultiesByDept" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFacultiesByDept_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFacultiesByDeptResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ToggleBlock_InputMessage">
    <wsdl:part name="parameters" element="tns:ToggleBlock" />
  </wsdl:message>
  <wsdl:message name="IService1_ToggleBlock_OutputMessage">
    <wsdl:part name="parameters" element="tns:ToggleBlockResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDepartments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartments" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDepartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDepartmentsByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentsByName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDepartmentsByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentsByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStudents" message="tns:IService1_GetStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStudentsResponse" message="tns:IService1_GetStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentsByDept">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStudentsByDept" message="tns:IService1_GetStudentsByDept_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStudentsByDeptResponse" message="tns:IService1_GetStudentsByDept_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFacilities">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFacilities" message="tns:IService1_GetFacilities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFacilitiesResponse" message="tns:IService1_GetFacilities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFacultiesByDept">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFacultiesByDept" message="tns:IService1_GetFacultiesByDept_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFacultiesByDeptResponse" message="tns:IService1_GetFacultiesByDept_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ToggleBlock">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ToggleBlock" message="tns:IService1_ToggleBlock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ToggleBlockResponse" message="tns:IService1_ToggleBlock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDepartments" message="tns:IService1_GetDepartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDepartmentsResponse" message="tns:IService1_GetDepartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentsByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDepartmentsByName" message="tns:IService1_GetDepartmentsByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDepartmentsByNameResponse" message="tns:IService1_GetDepartmentsByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudents">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentsByDept">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStudentsByDept" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacilities">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFacilities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacultiesByDept">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFacultiesByDept" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToggleBlock">
      <soap:operation soapAction="http://tempuri.org/IService1/ToggleBlock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentsByName">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDepartmentsByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost/UserService/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>