GemsAsc/Connected Services/WcfEventGalleryService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EventGalleryService.DTOs" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EventGalleryService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/EventGalleryService/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfGalleryItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GalleryItem" nillable="true" type="tns:GalleryItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGalleryItem" nillable="true" type="tns:ArrayOfGalleryItem" />
  <xs:complexType name="GalleryItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GalleryItem" nillable="true" type="tns:GalleryItem" />
  <xs:complexType name="ArrayOfEventDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventDTO" nillable="true" type="tns:EventDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventDTO" nillable="true" type="tns:ArrayOfEventDTO" />
  <xs:complexType name="EventDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventID" type="ser:guid" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventDTO" nillable="true" type="tns:EventDTO" />
  <xs:complexType name="EventByIdDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventID" type="ser:guid" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventByIdDTO" nillable="true" type="tns:EventByIdDTO" />
</xs:schema>