GemsAsc/Connected Services/WcfEventGalleryService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/EventGalleryService/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EventGalleryService.DTOs" />
  <xs:element name="AddGallery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGalleryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGalleryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGalleryItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGalleryItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EventGalleryService.DTOs" minOccurs="0" name="GetGalleryItemsResult" nillable="true" type="q1:ArrayOfGalleryItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGalleryItemsForHome">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGalleryItemsForHomeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EventGalleryService.DTOs" minOccurs="0" name="GetGalleryItemsForHomeResult" nillable="true" type="q2:ArrayOfGalleryItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEventResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EventGalleryService.DTOs" minOccurs="0" name="GetEventsResult" nillable="true" type="q3:ArrayOfEventDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EventGalleryService.DTOs" minOccurs="0" name="GetRecentEventsResult" nillable="true" type="q4:ArrayOfEventDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EventGalleryService.DTOs" minOccurs="0" name="GetEventByIdResult" nillable="true" type="q5:EventByIdDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>