GemsAsc/Connected Services/WcfEventGalleryService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/EventGalleryService/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/EventGalleryService/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/EventGalleryService/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EventGalleryService.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_AddGallery_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGallery" />
  </wsdl:message>
  <wsdl:message name="IService1_AddGallery_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGalleryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGalleryItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGalleryItems" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGalleryItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGalleryItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGalleryItemsForHome_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGalleryItemsForHome" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGalleryItemsForHome_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGalleryItemsForHomeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEvent" />
  </wsdl:message>
  <wsdl:message name="IService1_AddEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEventResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvents" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRecentEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecentEvents" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRecentEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecentEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEventById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEventById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="AddGallery">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddGallery" message="tns:IService1_AddGallery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddGalleryResponse" message="tns:IService1_AddGallery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGalleryItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGalleryItems" message="tns:IService1_GetGalleryItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGalleryItemsResponse" message="tns:IService1_GetGalleryItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGalleryItemsForHome">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGalleryItemsForHome" message="tns:IService1_GetGalleryItemsForHome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGalleryItemsForHomeResponse" message="tns:IService1_GetGalleryItemsForHome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddEvent" message="tns:IService1_AddEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddEventResponse" message="tns:IService1_AddEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEvents" message="tns:IService1_GetEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEventsResponse" message="tns:IService1_GetEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecentEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRecentEvents" message="tns:IService1_GetRecentEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRecentEventsResponse" message="tns:IService1_GetRecentEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEventById" message="tns:IService1_GetEventById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEventByIdResponse" message="tns:IService1_GetEventById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddGallery">
      <soap:operation soapAction="http://tempuri.org/IService1/AddGallery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGalleryItems">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGalleryItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGalleryItemsForHome">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGalleryItemsForHome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEvent">
      <soap:operation soapAction="http://tempuri.org/IService1/AddEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecentEvents">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRecentEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEventById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost/EventGalleryService/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>